/*.card{
    border: 1px solid goldenrod;
    width: fit-content;
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 67% 100%, 0 100%);
    overflow: hidden;
}*/
.one{

height:350px;
width:250px;
background-color:#ec971f;
display:flex;
justify-content: center;
clip-path:polygon(0 0, 100% 0%, 100% 76%, 67% 100%, 0 100%);
}
.card {
    color: #fff;
    position: relative;
    text-align: center;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 100% 76%, 67% 100%, 0 100%);
    height:345px;
   width:245px;

background-color:#141413;

align-self:center;
clip-path: polygon(0 0, 100% 0%, 100% 76%, 67% 100%, 0 100%);

  }

  .card-badge {
    position: absolute;
    top: 70px;
    left: 60px;
    background-color: #f1a013;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
  }
  .iconimg{
    position: absolute;
    top: 70px;
    left: 25px;

  }
  .card-image {
    padding: 15px;
    width: 245px;
    height: 219px;
    object-fit: cover;
    position: relative;
  }
  
  .card-title {
    margin: 15px 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  .card-price,
  .card-amount {
    margin: 5px 0;
    font-size: 10px;
  }
  .card-amount{
    color: rgba(241, 160, 18, 1);
  }
  .card-button {
    margin-top: 10px;
    background-color: #f0ad4e;
    border: none;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    padding: 5px 25px;
  }
  
  .card-button:hover {
    background-color: #ec971f;
  }
  .card-text img{
width: 35px;
height:  35px;
padding: 5px;
  }
  .card-text{
    display: flex;
    gap: 20px;
    
  }